main {
	width:100%;
}
#groups_container {
	width:1170px;
	margin:40px auto;
	position:relative;
	box-sizing:border-box;
	padding:10px 15px;
	background-color:#FFF;
}

@media screen and (min-width: 1200px) {
	#groups_container {
		width:1170px;
	}
}
@media screen and (max-width: 1200px) {
	#groups_container {
		width:970px;
	}
}
@media screen and (max-width: 992px) {
	#groups_container {
		width:750px;
		display:block;
		margin:10px auto;
	}
}
@media screen and (max-width: 768px) {
	#groups_container {
		width:100%;
	}
}

h2 {
	font-size:30px;
	display:block;
	font-weight:bold;
	margin:0;
}
#groups {
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
.group_wrapper {
	min-width:250px;
	flex:1;
	margin:10px 5px;
	text-align:center;
}
.group_container {
	perspective:1000px;
	background-color:#EEE;
	display:inline-block;
	text-decoration:none;
	white-space:initial;
	text-align:initial;
	width:250px;
	position:relative;
	border-radius:3px;
	transition:background-color 0.3s;
}
.group_container:after {
	content:'';
	position:absolute;
	height:250px;
	width:250px;
	top:0;
	left:0;
	background-color:rgba(0,0,0,.8);
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
.group_container:hover, .group_container.hover {
	background-color:#EEE !important;
}
.group_container:hover .group, .group_container.hover .group {
	transform:rotateY(-180deg);
}
.group, .group_front, .group_back {
	height:250px;
	width:250px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
.group {
	transition:0.3s;
	transform-style:preserve-3d;
	position:relative;
	background-color:#EEE;
	z-index:5;
}
.group_front, .group_back {
	backface-visibility:hidden;
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
}
.group_front {
	z-index:10;
	transform:rotateY(0deg);
	display:flex;
}
.group_back {
	transform:rotateY(-180deg);
	padding:5px 7px;
	box-sizing:border-box;
}
.group_back:after {
	content:'';
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:100px;
	background:-moz-linear-gradient(top, rgba(238,238,238,0) 0%, rgba(238,238,238,1) 100%);
	background:-webkit-linear-gradient(top, rgba(238,238,238,0) 0%,rgba(238,238,238,1) 100%);
	background:linear-gradient(to bottom, rgba(238,238,238,0) 0%,rgba(238,238,238,1) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eeeeee', endColorstr='#eeeeee',GradientType=0 );
}
.group_image {
	height:250px;
	width:250px;
	object-fit:cover;
	margin:auto;
	display:block;
}
.group_name {
	font-size:20px;
	display:block;
	font-weight:bold;
	text-align:center;
	padding:10px 0;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	background-color:rgba(0,0,0,.4);
	color:#FFF;
	transition:color 0.3s;
}
.group_members {
	font-size:16px;
	opacity:0.7;
	display:block;
	font-weight:bold;
	text-align:center;
	padding:5px 0;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	background-color:rgba(0,0,0,.4);
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	color:#FFF;
	transition:color 0.3s;
}
.group_container:hover .group_name, .group_container.hover .group_name,
.group_container:hover .group_members, .group_container.hover .group_members {
	color:#000;
}
.group_description {
	font-size:14px;
	color:#333;
	display:block;
}