main {
	width:100%;
}
#profile_container {
	width:1170px;
	margin:40px auto 20px auto;
	position:relative;
	box-sizing:border-box;
}
.section {
	background-color:#FFF;
	margin-bottom:20px;
	box-sizing:border-box;
	padding:10px 15px;
	position:relative;
}

@media screen and (min-width: 1200px) {
	#profile_container {
		width:1170px;
	}
}
@media screen and (max-width: 1200px) {
	#profile_container {
		width:970px;
	}
}
@media screen and (max-width: 992px) {
	#profile_container {
		width:750px;
		display:block;
		margin:10px auto 0 auto;
	}
	.section {
		margin-bottom:10px;
	}
}
@media screen and (max-width: 768px) {
	#profile_container {
		width:100%;
	}
}

#profile_edit_link {
	position:absolute;
	top:0;
	left:0;
	margin:5px;
	padding:5px;
	height:24px;
	display:flex;
	align-items:center;
	text-decoration:none;
	color:#555;
	fill:#555;
	font-weight:bold;
	max-width:24px;
	overflow:hidden;
	white-space:nowrap;
	transition:max-width 0.2s;
}
#profile_edit_link svg {
	flex-shrink:0;
	padding-right:5px;
}
#profile_edit_link:hover {
	max-width:130px;
}
#profile_image {
	height:200px;
	width:200px;
	object-fit:cover;
	display:block;
	margin:0 auto;
}
#profile_name {
	font-weight:bold;
	font-size:40px;
	display:block;
	text-align:center;
}
#profile_username {
	display:block;
	text-align:center;
	font-size:20px;
	color:#999;
}
#profile_joinDate {
	font-size:18px;
	display:block;
	text-align:center;
	color:#444;
	padding-top:20px;
}

#profile_groups_title {
	font-size:24px;
	display:block;
	font-weight:bold;
	padding-bottom:10px;
}
#group_container {
	overflow-x:auto;
	overflow-y:hidden;
	white-space:nowrap;
}
.group_container {
	perspective:1000px;
	background-color:#EEE;
	display:inline-block;
	text-decoration:none;
	white-space:initial;
	text-align:initial;
	width:250px;
	position:relative;
	border-radius:3px;
	transition:background-color 0.3s;
}
.group_container:after {
	content:'';
	position:absolute;
	height:250px;
	width:250px;
	top:0;
	left:0;
	background-color:rgba(0,0,0,.8);
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
.group_container:hover, .group_container.hover {
	background-color:#EEE !important;
}
.group_container:hover .group, .group_container.hover .group {
	transform:rotateY(-180deg);
}
.group, .group_front, .group_back {
	height:250px;
	width:250px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
.group {
	transition:0.3s;
	transform-style:preserve-3d;
	position:relative;
	background-color:#EEE;
	z-index:5;
}
.group_front, .group_back {
	backface-visibility:hidden;
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
}
.group_front {
	z-index:10;
	transform:rotateY(0deg);
	display:flex;
}
.group_back {
	transform:rotateY(-180deg);
	padding:5px 7px;
	box-sizing:border-box;
}
.group_back:after {
	content:'';
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:100px;
	background:-moz-linear-gradient(top, rgba(238,238,238,0) 0%, rgba(238,238,238,1) 100%);
	background:-webkit-linear-gradient(top, rgba(238,238,238,0) 0%,rgba(238,238,238,1) 100%);
	background:linear-gradient(to bottom, rgba(238,238,238,0) 0%,rgba(238,238,238,1) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eeeeee', endColorstr='#eeeeee',GradientType=0 );
}
.group_image {
	height:250px;
	width:250px;
	object-fit:cover;
	margin:auto;
	display:block;
}
.group_name {
	font-size:20px;
	display:block;
	font-weight:bold;
	text-align:center;
	padding:10px 0;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	background-color:rgba(0,0,0,.4);
	color:#FFF;
	transition:color 0.3s;
}
.group_members {
	font-size:16px;
	opacity:0.7;
	display:block;
	font-weight:bold;
	text-align:center;
	padding:5px 0;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	background-color:rgba(0,0,0,.4);
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	color:#FFF;
	transition:color 0.3s;
}
.group_container:hover .group_name, .group_container.hover .group_name,
.group_container:hover .group_members, .group_container.hover .group_members {
	color:#000;
}
.group_description {
	font-size:14px;
	color:#333;
	display:block;
}