main {
	width:100%;
}

#tracker_top {
	background-color:#009688;
}

#tracker_tasks_container,
#tracker_tabs_container {
	width:1170px;
	margin:0 auto;
	position:relative;
	box-sizing:border-box;
	padding:10px 15px;
}
#tracker_tasks_container {
	padding-bottom:30px;
	padding-top:40px;
}
#tracker_tabs_container {
	padding-top:30px;
	padding-bottom:0;
}

@media screen and (min-width: 1200px) {
	#tracker_tasks_container,
	#tracker_tabs_container {
		width:1170px;
	}
}
@media screen and (max-width: 1200px) {
	#tracker_tasks_container,
	#tracker_tabs_container {
		width:970px;
	}
}
@media screen and (max-width: 992px) {
	#tracker_tasks_container,
	#tracker_tabs_container {
		width:750px;
		display:block;
	}
	#tracker_tasks_container {
		padding-bottom:20px;
	}
	#tracker_tabs_container {
		padding-top:20px;
	}
}
@media screen and (max-width: 768px) {
	#tracker_tasks_container,
	#tracker_tabs_container {
		width:100%;
	}
}

h2 {
	font-size:30px;
	display:block;
	font-weight:bold;
	margin:0;
	color:#FFF;
	padding-bottom:20px;
}
#tabs a {
	background-color:rgba(0,0,0,.5);
	color:#FFF;
	opacity:0.6;
	text-decoration:none;
	transition:opacity 0.2s;
	font-size:16px;
	padding:10px 15px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	display:inline-block;
}
#tabs a:hover {
	opacity:1;
}
#tabs a.active {
	background-color:#EBF2F2;
	color:#009688;
	opacity:1;
	font-weight:bold;
}


#tracker_tasks_container > div {
	display:none;
}
#tracker_tasks_container.in-progress #inProgress {
	display:block;
}
#tracker_tasks_container.completed #completed {
	display:block;
}


.progress_item {
	box-sizing:border-box;
	color:#333;
	background-color:#FFF;
	border-radius:3px;
	margin-bottom:10px;
}
.progress_item .progress_item_title {
	text-decoration:none;
	color:rgba(255,255,255,.9);
	background-color:#555;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	font-weight:bold;
	display:block;
	padding:10px 7px;
	font-size:18px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	box-sizing:border-box;
}
.progress_item .progress_item_date {
	font-size:14px;
	display:block;
	color:#666;
	padding:5px 7px;
}
.progress_item .progress_item_description {
	font-size:16px;
	display:block;
	padding:0 7px 5px 7px;
}

/* Colours */
.progress_item.red .progress_item_title {
	background-color:#F44336;
}
.progress_item.pink .progress_item_title {
	background-color:#E91E63;
}
.progress_item.purple .progress_item_title {
	background-color:#9C27B0;
}
.progress_item.deep_purple .progress_item_title {
	background-color:#673AB7;
}
.progress_item.indigo .progress_item_title {
	background-color:#3F51B5;
}
.progress_item.blue .progress_item_title {
	background-color:#2196F3;
}
.progress_item.light_blue .progress_item_title {
	background-color:#03A9F4;
	color:#000;
}
.progress_item.cyan .progress_item_title {
	background-color:#00BCD4;
	color:#000;
}
.progress_item.teal .progress_item_title {
	background-color:#009688;
}
.progress_item.green .progress_item_title {
	background-color:#4CAF50;
	color:#000;
}
.progress_item.light_green .progress_item_title {
	background-color:#8BC34A;
	color:#000
}
.progress_item.lime .progress_item_title {
	background-color:#CDDC39;
	color:#000;
}
.progress_item.yellow .progress_item_title {
	background-color:#FFEB3B;
	color:#000;
}
.progress_item.amber .progress_item_title {
	background-color:#FFC107;
	color:#000;
}
.progress_item.orange .progress_item_title {
	background-color:#FF9800;
	color:#000;
}
.progress_item.deep_orange .progress_item_title {
	background-color:#FF5722;
}
.progress_item.brown .progress_item_title {
	background-color:#795548;
}
.progress_item.grey .progress_item_title {
	background-color:#9E9E9E;
	color:#000;
}
.progress_item.blue_grey .progress_item_title {
	background-color:#607D8B;
}

.progress_item .progress_item_actions {
	border-top:1px solid #CCC;
	display:flex;
	height:36px;
	align-items:center;
}
.progress_item .progress_item_action.done {
	text-decoration:none;
	color:#000;
	opacity:0.6;
	text-transform:uppercase;
	font-weight:bold;
	padding:5px 10px;
	font-size:14px;
	transition:opacity 0.2s;
}
.progress_item .progress_item_action.done:hover {
	opacity:1;
}
.progress_item .progress_item_action.share {
	height:36px;
	width:36px;
	fill:#000;
	opacity:.6;
	transition:opacity 0.2s;
}
.progress_item .progress_item_action.star {
	height:36px;
	width:36px;
	background-image:url('../res/star_anim.png');
	background-repeat:no-repeat;
	background-position: 0 0;
	background-size:auto 36px;
	transition:opacity 0.2s;
	opacity:0.6;
}
.progress_item .progress_item_action.star.checked {
	background-position:-1116px 0;
	transition:background-position 1s steps(31);
	opacity:1;
}
.progress_item .progress_item_action.share svg {
	padding:6px;
}
.progress_item .progress_item_action.share:hover,
.progress_item .progress_item_action.star:hover {
	opacity:1;
}